---
layout: maingames
title: Games
permalink: /games/
---
{% assign sorted = (site.games | sort: 'date') %}
{% for post in sorted  %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <div class="chapter_inner">
      <h3 class="chapter_title" style="text-shadow: 2px 2px #000000;">{{post.title}}</h3>
    </div>
  </div>
{% endfor %}
