
<footer class="main_footer">
  <div class="wrapper">
    {% include social_footer.html %}
    <div class="copyright" style="color: #6e6e6e;">
      TojoHQ is a fansite that is not in any way officially affiliated with SEGA. Yakuza and others are registred trademarks of SEGA Corporation.<br/>
      Copyright &copy; {{site.time | date: '%Y'}} - SEGA: All Rights reserved. All other featured trademarks are the property of their respective owners.
    </div>
  </div>
</footer> <!-- End Section Footer -->
